.center{
  text-align: center;
}
.pizza-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.sushi-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.ptitle{
  font-size: 45px;
  color:red;
  font-weight: bold;
}
.stitle{
  font-size: 45px;
  color:orange;
  font-weight: bold;
}
.tt{
  font-size: 60px;
}
.right{
  text-align: right;
}
